body {
    background-color:#FF69B4;
    color:#333333;
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:center;
}


h1 {
    text-align:center;
    font-size:2em;
    margin-top:20px;

}